.breadCrumb {
    position: relative;
    margin: 15px 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f5f5f5;
}
#col_complementary {
    margin-top: 20px;
    z-index: 1;
}

.actilce
{
	padding: 15px;
    margin-bottom: 15px;
	background-color: rgba(14, 70, 140, 0.16);
	border-radius: 0 0 9px 9px;
	transition: all .4s;
    overflow: hidden;
    position: relative;
	z-index: 5;
}

ul.widget_list li .number {
    padding-right: 10px;
    line-height: 20px;
    margin-top: 1px;
    font-size: 20px;
    font-weight: bold;
    width: 20px;
    float: left;
    text-align: right;
}
.video
{
	padding: 10px;
    margin-bottom: 15px;
	background-color: rgba(14, 70, 140, 0.16);
	border-radius: 0 0 9px 9px;
	transition: all .4s;
    overflow: hidden;
    position: relative;
	z-index: 5;
}
.embed-responsive-16by9 {
    padding-bottom: 100%;
}

.video_title {
    margin: 10px 0;
    padding: 0;
    color: #3e4087;
    font-size: 18px;
    text-transform: uppercase;
}

.widget_box_title{
background-color: #3e4087;
    margin: 0 0 5px;
    padding: 10px 15px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
 }   

 ul.widget_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

