/* css for header */
#header{
	background-color: #c7d5d8;
}
.logo{
	padding: 10px 0px;
}
.header-contact{
	margin-top: 20px;
	float: right;
}
.header-contact .icon-phone{
	position: absolute;
	width: 54px;
	height: 54px;
	border-radius: 100px;
	z-index: 10;
}
.header-contact .icon-phone .fa{
	font-size: 40px;
	color: #fff;
	width: 50px;
	height: 50px;
	background-color: #ec7f1d;
	border: 2px solid #3e4087;
	border-radius: 100%;
	text-align: center;
	padding: 5px;
}
.header-contact .info{
	position: relative;
	border: 2px solid #3e4087;
	border-radius: 15px;
	height: 50px;
	padding: 5px 10px 10px 60px;
	right: -12px;
}
.header-contact .info span{
	font-size: 16px;
	color: #309bf9;
	font-style: italic;
}
.header-contact .info p{
	font-size: 16px;
	color: red;
	text-align: center;
}
form.form-search{
	margin: 30px 20px 10px 0px;
}
/* css for menu */
.menu-nav{
	background-color: #3e4087;
	margin-bottom: 0;
}
.menu-nav .menu-navbar>ul{
	margin: 0;
	padding: 0;
}
.menu-nav .menu-navbar>li>a{
	color: #fff;
	text-transform: uppercase;
}
.menu-nav .menu-navbar>li>a:hover{
	color: #fff;
	background: #ec7f1d;
}
/* css for footer */
#footer{
	position: relative;
	background-color: #e9ebee;
	border-top: 2px solid #3e4087;
}
#footer ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#footer ul>li{
	font-size: 13px;
	padding: 3px;
}
#footer ul.list-item>li{
	padding-bottom: 10px;
}
#footer ul.list-item>li>a{
	color: #333;
}
#footer ul.list-item>li>a.fa{
	font-size: 15px;
}
#footer ul.list-item>li>a:hover{
	text-decoration: none;
}
.bottom{
	background-color: #3e4087;
	font-size: 12px;
	padding: 10px 0;
	color: #fff;
	margin-top: 15px;
}